---
import LinkInline from "./LinkInline.astro"
import Badge from '../components/Badge.astro';
interface Technology {
  name: string
  icon?: string
  color?: string
}

interface Props {
  index: number
  title: string
  company: string
  description: string[];
  technologies?: Technology[]
  date: string
}

const {index, title, company, description, technologies, date } = Astro.props
---
<div
  class="relative mx-12 pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-black/20 dark:before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4"
>
  <!-- LADO IZQUIERDO -->
  <div class="relative pb-12 md:col-span-2">
    <div class="sticky top-0">
      <span class="text-white-400 -left-[42px] absolute rounded-full text-5xl">&bull;</span>
      <h3 class="text-xl font-bold text-blue-400 dark:text-blue-300">{title}</h3>
      <h4 class="font-semibold text-xl text-gray-600 dark:text-white">{company}</h4>
      <time class="p-0 m-0 text-sm text-gray-600/80 dark:text-white/80">{date}</time>
    </div>
  </div>

  <!-- LADO DERECHO (acordeón) -->
  <details
    class="relative md:col-span-3 group"
    open= {index == 0} 
  >
    <summary class="cursor-pointer flex justify-between items-center text-blue-400 hover:underline select-none">
      <span>Ver más</span>
    </summary>

    <div class="mt-4 flex flex-col gap-2 text-gray-600 dark:text-gray-300">
      <!-- Lista de descripción -->
      <ul class="list-disc ml-5 space-y-1">
        {description.map(point => (
          <li>{point}</li>
        ))}
      </ul>

      <!-- Tecnologías -->
      {
        technologies && (
          <div class="flex flex-wrap gap-2 mt-3">
            {technologies.map(tech => (
              <Badge name={tech.name} color={tech.color}>
                <img src={tech.icon} alt="" class="w-4 h-4 mr-1" />
                {tech.name}
              </Badge>
            ))}
          </div>
        )
      }
    </div>
  </details>
</div>

<style is:global>
details summary::after {
  content: "⬇️";
  display: inline-block;
  margin-left: 8px;
  transition: transform 0.3s ease;
}
details[open] summary::after {
  transform: rotate(180deg);
}
</style>
